@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .hmlogin {
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
}
.d_flex{
    display: flex;
}
.align_items_center{
    align-items: center;
}
.align_items_start{
    align-items: flex-start;
}
.align_items_end{
    align-items: flex-end;
}
.justify_content_center{
    justify-content: center;
}
.justify_content_around{
    justify-content: space-around;
}
.justify_content_between{
    justify-content: space-between;
}
.flex_column{
    flex-direction: column;
}
.logo {
    width: 254px;
}
.logo img {
    width: 100%;
}
.hmlogin {
    /* background: linear-gradient(90deg, #46c9fb, #1e284c); */
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px 70px;
    position: relative;
}
.left_side {
    width:  60%;
    color: #ffffff;
    text-shadow: 0 3px 6px rgba(0,0,0,0.36);
}
.right_side {
    width: 40%;
    padding: 0 40px;
}
.login_body {
    width: 100%;
    display: flex;
    align-items: center;
}
.form_details {
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 6px;
}
.form_group label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
}
.form_control {
    width: 100%;
    font-size: 14px;
    padding:  12px 8px;
    border-radius: 6px;
    margin-bottom: 12px;
    border: 1px solid #4896e0;
}
.login_btn {
    font-size: 16px;
    padding: 10px 60px;
    background: linear-gradient(90deg, #4bbae4, #1b2f77);
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    color: #ffffff;
    font-weight: 600;
    margin-top: 10px;
}
.frgt_pw {
    font-size: 12px;
    text-decoration: none;
    color: #275191;
    display: inline-block;
    margin-bottom: 10px;
}
.submit_form {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.login_head, .login_body, .login_footer {
    position: relative;
    z-index: 1;
}
.bg_design {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/heart1.gif);
    background-repeat: no-repeat;
    background-position: 30%  40%;
    background-size: 207px;
}
.hmlogin:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.58);
}
.left_side h1 {
    font-size: 62px;
}
.form_details h1 {
    font-size: 24px;
    margin-bottom: 15px;
}
.login_footer {
    font-size: 12px;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    width: 100%;
}
.doc_image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 6px;
}
.doc_image img {
    width: 100%;
}
.pt_header {
    padding: 4px 20px;
}
.pt_list {
    width: 30%;
}
.pt_hms {
    width: 70%;
}
.pt_img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 6px;
}
.pt_img img {
    width: 100%;
}
.pt_list ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 11px 20px;
    border-bottom: 1px solid #e2e2e2;
}
.pt_header {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    height: 72px;
    position: fixed;
    top:0;
    left:0;
    z-index: 9;
    width: 100%;
}
.pt_list {
    width: 20%;
    box-shadow: 3px 7px 6px rgba(0,0,0,0.16);
    height: calc(100vh - 72px);
    position: fixed;
    left: 0;
    top: 72px;
    z-index: 10;
    background-color: #ffffff;
    overflow: auto;
}
.pt_name {
    font-weight: 600;
}
.pt_age {
    font-size: 12px;
}
.pt_hms {
    width: 80%;
    height: calc(100vh - 72px);
    margin-left: 20%;
    margin-top: 72px;
    padding: 20px 50px;
    background-color: #f7f7f7;
}
.hertbeat, .step_count {
    width: 45%;
    border-radius: 6px;
    padding: 20px;
    height: initial;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.hertbeat h4, .step_count h4 {
    font-size: 24px;
    margin-bottom: 11px;
}
.hertbeat p, .step_count p {
    font-size: 80px;
    font-weight: 300;
    color: #ee1a2e;
}
.hertbeat p span, .step_count p span {
    font-size: 20px;
    color: #333333;
}
.pt_details ul li {
    list-style-type: none;
    margin-top: 12px;
}